/* default styles originally from scaffold */

html { 
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0.5em;
}

body { background-color: #ffffef;
       background-image: url("/images/nasinneula-silhouette.png");
       background-repeat: no-repeat;
       color: #000;
       width: 100%;
}


html { height: 95%;}
body { height: 95%; }

h1, h2, h3 { color: #8f0000; 
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-style: italic;
}

body, p, ol, ul, td {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 9pt;
  line-height: 2em;
}

td { vertical-align: top; }

pre {
  background-color: #ffffa0;
  padding: 10px;
  font-size: 9pt;
}

#banner code { 
}

a {
  color: #404080; 
  font-weight: bold;
  text-decoration: none;
}

a.external {
  text-decoration: underline;
}


a:visited {  }
a:hover { background-color: #fffdff; }

h1 { font-size: 160%; }
h2 {
  font-size: 140%;
  /* top right bottom left */
  padding: 0.25em 0.5em 0.25em 0em;
}
h3 { font-size: 125%; margin-top: 1em; }

#notice {
  color: black;
  background-color: #9fff9f;
  font-weight: bold;
  padding: 0.25em 1.5em 0.5em 1.5em;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  font-size: 9pt;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


#banner {
  color: #4f2f2f;
  float: left;
  font-weight: bold;
  height: 5em;
  margin-left: 13em;
  padding-bottom: 5em;
  padding-top: 1em;
}

#banner .flash { margin-left: 0em;  }
#banner h1 { margin-top: 0em; }

#logo_image { float: left; margin-top: 0em; margin-right: 1em; }

table { width: 100%; }
th { text-align: left; padding-bottom: 0.5em; }

.add_new, .modify
{
  float: right;
  margin-right: 1.5em;
  margin-top: 0.5em;
}

.add_new, .add_new a {
  font-weight: bold;
}

.add_new a:hover { background-color: #c0f0c0; }

#menu
{
  clear: both;
  padding-top: 0em;

}


#menu
{
  font-size: 120%;
  margin: 0;
  padding: 0.5em;
}

#menu { border: 1px dashed gray; }
#menu span { margin-right: 3em; }
#menu .current {
}


#content
{
  float: left;
  margin-top: 0em;
  margin-left: 0em;
  width: 100%;
  min-height: 100%;
  margin-bottom: 2em;
}

#header { margin-top: 0em; }
#main {
  width: 100%;
  min-height: 100%;
}

#footer {
  position: relative;
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  margin-bottom: 0;
  width: 100%;
  font-weight: bold;
  border-top: solid 2px #8a2628;
}

#login_menu {
  float: right;
  text-align: right;
  font-size: 7pt;
  margin-top: 0.5em;
}

#credentials label {
   position: relative;
   text-align: right;
   width: 6em;
   margin-right: 0.5em;
}

#credentials input[type=text],
#credentials input[type=password],
#credentials input[type=submit] {
  margin-left: 0em;
  margin-top: 0.25em;
  width: 6em;
}

form.button-to { display: inline; }
form.button-to div { display: inline; }

#back_link { margin-top: 4em; }

#rails_link { float: left; }
.footer_icon { float: right;  }
.footer_icon img { border: 0; }

p.clearing { clear: both; margin-top: 3em;}

input[type=text]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
select:focus
{
  background-color: #ffff9e;
}

.tidbit
{
  float: right;
  position: relative;
  width: 25%;
  margin-right: 0em;
  margin-left: 2em;
  padding: 1em;
}

table.compact { width: 50%; }

.tidbit, .highlight { background-color: #ffffce; }