/* default styles originally from scaffold */
body { background-color: #fff;
       background-image: url("/images/logo_background2.png");
       background-repeat: repeat-x;
       color: #333;
       width: 95%;
}

html, body {
  height: 90%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#notice { color: black; background: #00ee00; font-weight: bold;
  padding: 0 1em 0.5em 1em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* custom stuff */

h1 { font-size: 200%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }

/* logo stuff */
#logo { float: left; }
#logo h1 { margin-top: 3em; }

#logo_image { float: left; margin-top: 0em; margin-right: 1em; }

#login_menu {  float: right; color: #fff; }

table {  width: 100%; }
th { text-align: left; }
th { text-align: left; padding-bottom: 1.5em; }
table.list tr.upcoming td { padding-bottom: 1em; }
table.list tr.past td { padding-top: 1em; font-style: italic; }

.add_new {  float: right;
  margin-right: 3em;
}

#menu {
    clear: both;
    float: right;
    margin-top: 3em;
    margin-right: 2em;
    width: 20%;
}

#content { float: left;
  margin-top: 2em;
  margin-left: 5em;
  width: 65%;
  min-height: 100%;
  margin-bottom: 2em;
}

#header { margin-top: 0em; }
#main {
  width: 100%;
  min-height: 100%;
}

#footer {
  position: relative;
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-bottom: 0;
  width: 100%;
  background: #e0a0a0;
}

#date_header { width: 25%; }
#program_header { width: 70%; }

.list td { vertical-align: top; }