#new_user label, #new_user input {
    display: block;
    width: 120pt;
    float: left;
    font-size: 9pt;
    margin-bottom: 0.5em;
}

#new_user input[type=text],
#new_user input[type=password],
#new_user input[type=submit] {
  margin-left: 0.5em;
}

#new_user label {
  text-align: left;
}

#new_user br {  clear: left; }
