<h2>Jäsenet</h2>

<table class="compact">
  <tr>
    <th>Käyttäjä</th>
    <th>Rekisteröitynyt</th>
    <th>Rooli</th>    
  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.login %></td>    
	    <td><%= fmt_date(user.created_at) %></td>    
	    <td><%= fin_role(user.role) %></td>
	  </tr>
	<% end %>
</table>
