<h1>Jäsenet</h1>

<table class="compact">
  <tr>
    <th>Käyttäjätunnus</th>
    <th>Rooli</th>
    <th>Rekisteröitynyt</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.role %></td>    
    <td><%= fmt_date(user.created_at) %></td>    
  </tr>
<% end %>
</table>

<br/>
