      <h2>Yleistä</h2>

Tampereen Ruby-käyttäjät on vapaamuotoinen yhteisö, joka järjestää
<%= link_to 'Ruby', 'http://www.ruby-lang.org' %>
- ja 
<%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %> 
-aiheisia tapaamisia säännöllisesti. Tällä hetkellä 
tapaamiset järjestetään kerran kuukaudessa.

<h2>Ohjelma</h2>
Illat koostuvat pääosin vaihtelevanpituisista esityksistä joille riittää, että aihe liittyy jollain tavalla Rubyyn. Hyvin lyhyetkin esitykset (5 min) ovat kelvollisia. Iltojen tarkoitus on kokoontua yhteen ja keskustella eri aiheista verrattain vapaasti, jonka vuoksi tarkempaa runkoa ei ole katsottu tarpeelliseksi.